<?xml version="1.0"?>
<launch>
    <arg name="quad_name" default="hummingbird"/>
    <arg name="mav_name" default="$(arg quad_name)"/>

    <group ns="$(arg mav_name)">
        <node pkg="rpg_mpc" type="autopilot_mpc_instance" name="autopilot" output="screen">
        <rosparam file="$(find state_predictor)/parameters/hummingbird.yaml" />
        <rosparam file="$(find rpg_mpc)/parameters/default.yaml" />
        <rosparam file="$(find rpg_rotors_interface)/parameters/autopilot.yaml" />

        <param name="velocity_estimate_in_world_frame" value="false" />
        <param name="state_estimate_timeout" value="0.1" />
        <param name="control_command_delay" value="0.05" />

        <remap from="autopilot/state_estimate" to="ground_truth/odometry" />
        </node>
    </group>

</launch>